.div1{
    min-height: 200px;
    min-width: 200px;
    border: solid 3px black;
    margin: auto;
    padding: 10px;
    background: red;
    font-weight: bold;
    font-size: 25px;
}
#div{
    min-height: 200px;
    min-width: 200px;
    border: solid 3px black;
    margin: auto;
    padding: 10px;
    background: red;
    font-weight: bold;
    font-size: 25px;
}